body{
    font-family: Bahnschrift;
}

.todo-grid, .inputGrid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 20px;
}

.inputGrid{
    margin-bottom: 10px;
}

.name-input, .dueDate-input{
    height: 30px;
    border-radius: 5px;
    border: 2px solid darkcyan;
}

.add{
    border-radius: 5px;
    background-color: greenyellow;
    font-weight: bold;
}

.delete{
    border-radius: 5px;
    background-color: rgba(235, 32, 32, 0.795);
    font-weight: bold;
    height: 30px;
    align-self: center;
}

/* .name, .date{
    border: 2px dotted bisque;
} */

.date{
    align-self: center;
}

div{
    word-wrap: break-word;
}
